*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:radial-gradient(circle at top right,#441a0f,#061827);
  color:#fff;
}

/* HEADER */
.header{
  position:fixed;
  width:100%;
  background: blueviolet;
  padding: 25px;;
}

.nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.nav__menu{
  display:flex;
  gap:20px;
}

.nav__menu a{
  color:#fff;
  text-decoration:none;
}

.nav__menu a:hover{color:#4db5ff}

/* HOME */
.home{
  min-height:100vh;
  display:grid;
  grid-template-columns:1fr 1fr;
  align-items:center;
  padding:120px 40px;
   
}

.home__img img{
  width:200px;
  min-height: 50vh;
  border: radius 25px;
  width: 200px;
  height: 200px;
  border-radius: 25%;
  border: 10px solid #7d2ae8;
  box-shadow: 0 0 25px rgba(125, 42, 232, 0.7);
  object-fit: cover;
}


  
.btn-group{
  margin-top: 25px;
  display: flex;
  gap: 15px;
}

.btn{
  display: inline-block;
  padding: 12px 28px;
  background: #7d2ae8;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn:hover{
  background: #5a1dbb;
  transform: scale(1.05);
}

.btn-outline{
  background: transparent;
  border: 2px solid #7d2ae8;
  color: #7d2ae8;
}

.btn-outline:hover{
  background: #7d2ae8;
  color: #fff;
}

/* SOCIAL */
.social a{
  font-size:26px;
  margin-right:15px;
  color:#4db5ff;
}

.home-Content {
  text-align: left;

}

.social-container {
  display: flex;
  justify-content: flex-start;   /* Left side */
  align-items: center;       /* vertical center */
  gap: 12px;                 /* space between icons */
  margin-top: 20px;
}

.social-container a {
  width: 40px;
  height: 40px;
  border-radius: 50%;        /* circle */
  border: 2px solid #fff;
  display: flex;
  justify-content: center;   /* icon center */
  align-items: center;       /* icon center */
  color:blueviolet;
  text-decoration: none;
  transition: 0.3s;
}

.social-container a:hover {
  background: #fff;
  color: #000;
}
/* SECTIONS */
.section{
  padding:80px 40px;
  text-align: center;
}

.contact {
    text-align: center;
    padding: 80px 20px;
    color: white;
}

.sub-text {
    font-size: 14px;
    margin-bottom: 30px;
    color: #cbf5db;
}

/* GRID FORM */
.contact-form {
    max-width: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

/* Inputs */
.contact-form input,
.contact-form textarea {
    padding: 12px;
    border-radius: 5px;
    border: none;
    outline: none;
    Width: 100%;
}

/* Textarea full width */
.contact-form textarea {
    grid-column: span 2;
    resize: none;
    height: 120px;
}

/* Button full width + center */
.contact-form button {
    grid-column: span 2;
    width: 120px;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background: #eb25ac;
    color: white;
    cursor: pointer;
}

/* SKILLS */
body{
  margin:0;
  padding:0;
  background:#000;
  font-family:Arial, Helvetica, sans-serif;
  color:#fff;
}

/* whole skills block */
.skills{
  max-width:600px;
  margin:50px auto;
  color:#fff;
}

.heading{
  text-align:center;
  margin-bottom:30px;
}

.skill-box{
  margin-bottom:25px;
}

.skill-title{
  display:flex;
  align-items:center;
  gap:12px;   /* 👉 icon & text space */
  margin-bottom:8px;
  font-size:18px;
}

.skill-title i{
  font-size:22px;
}

.progress{
  width:100%;
  height:8px;
  background:#222;
  border-radius:10px;
  overflow:hidden;
}

.progress-bar{
  height:100%;
  border-radius:10px;
  animation:load 2s ease-in-out;
}

/* Skill colors & width */
.html{ color:#e34c26; }
.css{ color:#264de4; }
.js{ color:#f0db4f; }
.java{ color:#f89820; }

.html-bar{ width:90%; background:#e34c26; }
.css-bar{ width:85%; background:#264de4; }
.js-bar{ width:70%; background:#f0db4f; }
.java-bar{ width:75%; background:#f89820; }

@keyframes load{
  from{ width:0; }
}



/* EDUCATION */

.education{
  min-height:100vh;
  background:#0b0f14;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  color:#fff;
}

.edu-title{
  color:#1e90ff;
  font-size:24px;
  margin-bottom:40px;
  letter-spacing:1px;
}

.edu-container{
  display:flex;
  gap:25px;
  flex-wrap:wrap;
  justify-content:center;
}

.edu-card{
  width:260px;
  background:#111;
  padding:20px;
  border-radius:12px;
  text-align:center;
  box-shadow:0 0 15px rgba(0,0,0,0.6);
  transition:0.3s;
}

.edu-card:hover{
  transform:translateY(-8px);
  box-shadow:0 0 20px #1e90ff;
}

.edu-card h3{
  margin-bottom:10px;
}

.edu-card p{
  font-size:14px;
  color:#ccc;
}

.edu-card span{
  display:block;
  margin:8px 0;
  font-size:13px;
  color:#aaa;
}

.edu-card strong{
  color:#1e90ff;
}
footer{
  text-align:center;
  padding:20px;
  background:#db323e;
  border-top: 1px solid #ddd;
}

.footer {
  background-color:blueviolet;
  padding: 25px;
  text-align: center;
  color: #ccc;
}

.footer p {
  margin-bottom: 15px;
  font-size: 14px;
}

.social-icons i {
  font-size: 24px;
  color: #cccccc;
  margin: 0 10px;
  transition: 0.3s;
}

.social-icons i:hover {
  color: #ed0000;
}
.social-icons a {
  color: #fff;
  margin: 0 15px;
  font-size: 30px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #ff4da6;
  transform: scale(1.2);
}